// scss-lint:disabled all

@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?9be9ef');
  src: url('./assets/fonts/tomorrow.eot?9be9ef#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?9be9ef') format('truetype'),
    url('./assets/fonts/tomorrow.woff?9be9ef') format('woff'),
    url('./assets/fonts/tomorrow.svg?9be9ef#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
